<div class="colorwrap">
  <div data-ng-include src="'views/includes/connection.html'"></div>
  <section class="aztek-container max-width1000 about-page">
    <div class="row">
      <h2>ABOUT THE ROYAL MINT GOLD [RMG] BLOCKCHAIN</h2>
      <hr>
      <p>Royal Mint Gold (RMG) is physical gold, digitally traded with transactions recorded to a blockchain ledger. RMG is issued by RM Assets Limited and it is built on Prova™ technology which is an open-source distributed ledger for trading a commodity or digitized physical asset. The sales orders can be placed via a trading platform which will be operated by CME Digital Asset Limited, a wholly owned subsidiary of CME Group, the world’s leading and most diverse derivatives marketplace. <a href="http://www.royalmint.com/corporate/news/the-royal-mint-and-cme-group-to-launch-royal-mint-gold">Learn More</a></p>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <img class="icons m24t" src="img/safe.png" alt="Safe"/>
          <hr class="m24t">
          <h3 class="m24t">SECURITY</h3>
          <p>Controlled participation and user protections ensure the integrity of the blockchain - The RMG network will require multiple, independent cryptographic signatures to enact any transaction. The physical gold represented by RMG is held in The Royal Mint vault, the Royal Mint’s purpose-built, precious-metal storage facility with state-of-the-art security systems and protocols.</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <img class="icons m24t" src="img/versatile.png" alt="Versatile"/>
          <hr class="m24t">
          <h3 class="m24t">DIRECT OWNERSHIP</h3>
          <p>RMG holders have direct ownership of physical gold bullion where each RMG represents ownership and full title to 1g of physical gold bullion held in The Royal Mint's vault. All gold held in The Royal Mint vault in respect of RMG is held separately from any other gold and is clearly allocated to the holders of RMG.</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <img class="icons m24t" src="img/efficient.png" alt="efficient"/>
          <hr class="m24t">
          <h3 class="m24t">EFFICIENT</h3>
          <p>RMG and the trading platform together will provide the investment performance of the London Gold Market and the security benefits of physical ownership with the price transparency, real-time price discovery and trade execution of an exchange-traded security. By using the platform it is possible to trade assets with transparent ownership, reduced costs and global availability.</p>
        </div>
      </div>
      <div class="row">
        <hr class="m24t">
        <h3 class="m24t">THE RMG BLOCKCHAIN IS DESIGNED FOR SAFETY FROM THE GROUND UP:</h3>
        <ul>
          <li class="m18t">
            The RMG network will require multiple, independent cryptographic signatures to enact any transaction thereby keeping RMG safe from loss of a single-key. Due to the way the blockchain enforces the addresses, it is not possible to send RMG to an invalid destination where the RMG could not be recovered.
          </li>
          <li class="m18t">
            The Asset Trading Platform is secured by industry cyber-security practices and controls, which are informed by global frameworks such as NIST and ISO.
          </li>
          <li class="m18t">
            All parties participating on the network are identified.
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>