<div data-ng-include src="'views/includes/connection.html'"></div>
<section class="aztek-container max-width1200 about-page">
  
  <div>
    <h2 class="colorMetallicGold"><strong>RMG</strong> chain</h2>
    <hr />
    <p class="colorNero75 m48t">RMG Chain is the digital platform for holding and trading Royal Mint Gold.</p>
    <p>RMG Chain is singularly focused on the security and digitization of a single asset: gold held in 100% reserve at The Royal Mint. The blockchain is designed for safety from the ground up:</p>
    <ul>
      <li class="m18t">
        All wallets are multi-signature. Security experts have long recognized the value of multi-signature wallets. Single-key losses are not possible on the RMG blockchain.
      </li>
      <li class="m18t">
        No “black holes”.  Due to the way the blockchain enforces keys, it is impossible to send funds to an invalid address where the RMG could not be recovered.
      </li>
      <li class="m18t">
        All parties participating on the network are identified before being allowed to transact.
      </li>
      <li class="m18t">
        The blockchain exclusively utilizes trusted, proven technology.  It does not contain smart contracts, experimental cryptographic functions, or algorithms that have not already been heavily tested and proven in existing blockchain systems.
      </li>
    </ul>

    <p class="m48t">RMG Chain is in alpha testing and is on track to launch in the second half of 2017.  This site will provide additional updates on the availability of the block explorer in the coming months. </p>
  </div>
  
  <div class="m64t colorNero75 row no-margin" data-ng-if="false">
    <h2>What is a blockchain?</h2>
    <hr />
    <div class=" m48t">
      <div class="col-xs-2">
        <div class="square"></div>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-9 subtitle-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare nisi leo, nec
vehicula augue sagittis id. Praesent urna urna, faucibus et varius sed, lacinia sed mauris.
Maecenas at leo aliquet purus consequat posuere sed vestibulum justo. Pellentesque
commodo molestie velit, at commodo neque sodales eleifend. Proin vitae arcu varius, faucibus
nibh nec, vehicula lectus. Quisque nec aliquet neque, sit amet elementum magna. Donec vel
nulla eget nibh ornare consequat. Nunc et leo eget turpis convallis dapibus. Praesent eget
turpis in odio scelerisque dignissim ut vitae nisl. Sed quis nibh ut enim dictum viverra.
Phasellus vulputate rhoncus urna quis volutpat. Aliquam erat volutpat.
      </div>
      
    </div>
  </div>
  
  <div class="m64t colorNero75 row no-margin" data-ng-if="false">
    <h2>What is RMG?</h2>
    <hr />
    <div class=" m48t">
      <div class="col-xs-2">
        <div class="square"></div>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-9 subtitle-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare nisi leo, nec
vehicula augue sagittis id. Praesent urna urna, faucibus et varius sed, lacinia sed mauris.
Maecenas at leo aliquet purus consequat posuere sed vestibulum justo. Pellentesque
commodo molestie velit, at commodo neque sodales eleifend. Proin vitae arcu varius, faucibus
nibh nec, vehicula lectus. Quisque nec aliquet neque, sit amet elementum magna. Donec vel
nulla eget nibh ornare consequat. Nunc et leo eget turpis convallis dapibus. Praesent eget
turpis in odio scelerisque dignissim ut vitae nisl. Sed quis nibh ut enim dictum viverra.
Phasellus vulputate rhoncus urna quis volutpat. Aliquam erat volutpat.
      </div>
      
    </div>
  </div>
  
  
  <div class="m64t row no-margin" data-ng-if="false">
    <h2 class="colorNero75">Account Providers</h2>
    <hr />
    <div class=" m48t">

      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="m64t row no-margin" data-ng-if="false">
    <h2 class="colorNero75">Validators</h2>
    <hr />
    <div class=" m48t">

      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
    </div>
  </div>
</section>

