<div data-ng-include src="'views/includes/connection.html'"></div>
<section class="aztek-container">
  
  <div>
    <h2 class="colorMetallicGold"><strong>Aztec</strong> chain</h2>
    <hr />
    <h3 class="colorNero75">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
  </div>
  
  <div class="m64t colorNero75 row no-margin">
    <h2>What is a blockchain?</h2>
    <hr />
    <div class=" m48t">
      <div class="col-xs-2">
        <div class="square"></div>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-9 subtitle-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare nisi leo, nec
vehicula augue sagittis id. Praesent urna urna, faucibus et varius sed, lacinia sed mauris.
Maecenas at leo aliquet purus consequat posuere sed vestibulum justo. Pellentesque
commodo molestie velit, at commodo neque sodales eleifend. Proin vitae arcu varius, faucibus
nibh nec, vehicula lectus. Quisque nec aliquet neque, sit amet elementum magna. Donec vel
nulla eget nibh ornare consequat. Nunc et leo eget turpis convallis dapibus. Praesent eget
turpis in odio scelerisque dignissim ut vitae nisl. Sed quis nibh ut enim dictum viverra.
Phasellus vulputate rhoncus urna quis volutpat. Aliquam erat volutpat.
      </div>
      
    </div>
  </div>
  
  <div class="m64t colorNero75 row no-margin">
    <h2>What is Aztec?</h2>
    <hr />
    <div class=" m48t">
      <div class="col-xs-2">
        <div class="square"></div>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-9 subtitle-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare nisi leo, nec
vehicula augue sagittis id. Praesent urna urna, faucibus et varius sed, lacinia sed mauris.
Maecenas at leo aliquet purus consequat posuere sed vestibulum justo. Pellentesque
commodo molestie velit, at commodo neque sodales eleifend. Proin vitae arcu varius, faucibus
nibh nec, vehicula lectus. Quisque nec aliquet neque, sit amet elementum magna. Donec vel
nulla eget nibh ornare consequat. Nunc et leo eget turpis convallis dapibus. Praesent eget
turpis in odio scelerisque dignissim ut vitae nisl. Sed quis nibh ut enim dictum viverra.
Phasellus vulputate rhoncus urna quis volutpat. Aliquam erat volutpat.
      </div>
      
    </div>
  </div>
  
  
  <div class="m64t row no-margin">
    <h2 class="colorNero75">Wallet Providers</h2>
    <hr />
    <div class=" m48t">

      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="m64t row no-margin">
    <h2 class="colorNero75">Validators</h2>
    <hr />
    <div class=" m48t">

      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
      <div class="col-xs-3 colorNero75">
        <div class="square2 subtitle-3">
          <div class="square3">
          </div>
          Bitgo
        </div>
      </div>
      
    </div>
  </div>
</section>

