<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="AddressController" data-ng-init="findOne()" class="aztek-container">

  <div class="text-muted" data-ng-if="!address.addrStr">
    <h2 translate>Loading Address Information<span loading-dots></span></h2>
  </div>
  
  <div data-ng-if="address.addrStr">
    <div class="detail-header">
      <h2 class="colorMetallicGold"><strong>Aztec</strong> Address</h2>
      <hr />
    </div>
    
    <div class="row subtitle-1 detail-data">
      <div class="col-xs-12 col-md-8">
        <strong>Address</strong> {{address.addrStr}}
      </div>
      
      <div class="col-xs-12 col-md-4">
        <!--<div class="col-xs-12 float-left subtitle-1 m">-->
          <!--<strong>Balance:</strong> -->
            <!--<span class="float-right">{{$root.currency.getConvertion(address.balance) || address.balance + ' RMG'}}</span>-->
        <!--</span>-->
        <!--</div>-->
        
        <div class="col-xs-12 float-left  subtitle-1 supply">
          <strong>Wallet Provider:</strong> <a data-ng-href="{{address.walletProvider.url}}" target="_blank" class="float-right colorMetallicGold">{{address.walletProvider.name}}</a>
        </div>
        
        <div class="col-xs-12 float-left  subtitle-1 supply m24t">
          <strong>Backup Key holder:</strong> <a data-ng-href="{{address.backupKeyHolder.url}}" target="_blank" class="float-right colorMetallicGold">{{address.backupKeyHolder.name}}</a>
        </div>
      </div>
    </div>
    
    <div class="detail-summary m12t row">
      <hr />
      
      <div class="summary m48t">
        <div class="col-xs-9 no-padding">
          <div class="col-xs-12 float-left subtitle-2 summary-row">
            Balance: <span class="float-right">{{$root.currency.getConvertion(address.balance) || address.balance + ' RMG'}}</span>
          </div>
          
          <div class="col-xs-12 float-left subtitle-2 summary-row">
            No. of Transactions: 
            <span class="float-right">{{address.txApperances}}</span>
          </div>
        </div>
        
        <div class="col-xs-3 no-padding addressQR">
           <qrcode size="160" data="{{address.addrStr}}" class="address"></qrcode>
        </div>
      
      </div>
    </div>
    
  </div>

  <div class="detail-list row" data-ng-if="address.addrStr" data-ng-controller="transactionsController" data-ng-init="load('address')">
    <h2 data-ng-hide="loading" class="colorMetallicGold" translate>Transactions</h2>
    <div class="text-muted" data-ng-show="loading">
      <h2 translate>Loading Transactions...<span loading-dots></span></h2> 
    </div>
    <div data-ng-include src="'views/transaction/addressList.html'" when-scrolled="loadMore()"></div>
  </div>
</section>

