<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="BlocksController" data-ng-init="findOne()" class="aztek-container">
  
  <div class="text-muted" data-ng-if="!block.hash">
    <span translate>Loading Block Information</span>  <span class="loader-gif"></span>
  </div>
  
  <div data-ng-if="block.hash">
    <div class="detail-header">
      <h2 class="colorSunglow"><strong>Aztec</strong> Block</h2>
      <h4 class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
      <hr />
    </div>
    
    <div class="row subtitle-1 detail-data">
      <div class="col-xs-12 col-md-8">
        <strong>Block</strong> {{block.hash}}
      </div>
      
      <div class="col-xs-12 col-md-4">
        <div class="col-xs-12 float-left subtitle-1 m">
          <strong>Mining time:</strong> <span class="float-right">{{block.time * 1000 | date:'medium'}}</span>
        </div>
        
        <div class="col-xs-12 float-left  subtitle-1 supply m24t">
          <strong>Mined By:</strong> <span class="float-right"><a href="{{block.poolInfo.url}}" target="_blank" title="{{block.poolInfo.poolName}}">{{block.poolInfo.poolName}}</a></span>
        </div>
      </div>
    </div>
    
    <div class="detail-summary m48t">
      <h2 class="colorNero50"><strong>Summary</strong></h2>
      <hr />
      
      <div class="summary">
        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Block height: 
          <span class="float-right">{{block.height}}
            <span data-ng-show="block.isMainChain" class="text-success">(Mainchain)</span>
            <span data-ng-show="!block.isMainChain" class="text-danger"> <span class="glyphicon glyphicon-warning-sign"></span> (Orphaned)</span>
          </span>
        </div>
        
        <div class="col-xs-12 float-left subtitle-2 summary-row">
          No of Transactions: 
          <span class="float-right">{{block.tx.length}}</span>
        </div>
        
        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Fees: 
          <span class="float-right">{{$root.currency.getConvertion(block.reward) || block.reward + ' BTC'}}</span>
        </div>
      </div>
    </div>
    
    <div class="detail-list row" data-ng-controller="transactionsController" data-ng-init="load('block')">
      <h2 class="colorSunglow" translate>Transactions</h2>
      <div data-ng-include src="'views/transaction/blockList.html'" when-scrolled="loadMore()"></div>
    </div>
  </div>
  


</section>

