<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="BlocksController" data-ng-init="findOne()" class="aztek-container">
  
  <div class="text-muted" data-ng-if="!block.hash">
    <h2 translate>Loading Block Information<span loading-dots></span></h2> 
  </div>

  <div data-ng-if="block.hash">
    <div class="detail-header row">
      <h2 class="col-xs-10 colorMetallicGold"><strong>Aztec</strong> Block</h2>
      <div class="col-xs-2 block-nav no-padding float-right">
        <div class="float-right">
          <a type="submit" class="btn btn-gold" data-ng-show="block.previousblockhash" href="block/{{block.previousblockhash}}">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i><span> Prev</span>
          </a>
          <a type="submit" class="btn btn-gold" data-ng-disabled="!block.nextblockhash" href="block/{{block.nextblockhash}}">
            <span>Next</span>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </a>
        </div>

      </div>
    </div>
    <hr />
    
    <div class="detail-summary m12t">
      
      <div class="summary">

        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Block:
          <span class="float-right"><a href="block/{{block.hash}}" class="colorMetallicGold">{{block.hash}}</a></span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Block height: 
          <span class="float-right">{{block.height}}</span>
        </div>
        
        <div class="col-xs-12 float-left subtitle-2 summary-row">
          No of Transactions: 
          <span class="float-right">{{block.tx.length}}</span>
        </div>
        
        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Fees: 
          <span class="float-right">{{$root.currency.getConvertion(block.reward) || block.reward + ' BTC'}}</span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Validated At:
          <span class="float-right">{{block.time * 1000 | date:'medium'}}</span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Validated By:
          <span class="float-right"><a href="{{block.validatorInfo.url}}" target="_blank" title="{{block.validatorInfo.name}}" class="colorMetallicGold">{{block.validatorInfo.name  || 'Unknown'}}</a></span>
        </div>
      </div>
    </div>
    
    <div class="detail-list row" data-ng-controller="transactionsController" data-ng-init="load('block')">
      <h2 class="colorMetallicGold" translate>Transactions</h2>
      <div data-ng-include src="'views/transaction/blockList.html'" when-scrolled="loadMore()"></div>
    </div>
  </div>
  


</section>

