<div data-ng-include src="'views/includes/connection.html'"></div>
<section class="aztek-container">
  
  <div class="detail-header m48t">
    <h2 class="colorSunglow"><strong>Decode</strong> raw transaction</h2>
    <h4 class="">This tool decodes raw hex transaction here</h4>
    <hr />
  </div>
  
  <div class="row m64t d-block">
    <textarea placeholder="Copy and paste a raw hex transaction here" class="decode-tx subtitle-3"></textarea>
    <button class="btn btn-lg btn-gold float-right">Decode</button>
  </div>
  
  <div class="detail-header m48t">
    <h2 class="colorSunglow"><strong>Push</strong> transaction</h2>
    <h4 class="">This tool pushes a raw/decoded transaction to the network</h4>
    <hr />
  </div>
  
  <div class="row m64t d-block">
    <textarea placeholder="Copy and paste a raw/decoded transaction here" class="decode-tx subtitle-3"></textarea>
    <button class="btn btn-lg btn-gold float-right">Push Transaction</button>
  </div>
  
</section>

