<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="transactionsController" data-ng-init="findThis()" class="aztek-container">

  <div class="text-muted" data-ng-if="!tx.txid">
    <h2 translate>Loading Transaction Details<span loading-dots></span></h2>
  </div>

  <div data-ng-if="tx.txid">
    <div class="detail-header">
      <h2 class="colorMetallicGold" data-ng-if="!tx.isAdminTransaction"><strong>Aztec</strong> Transaction</h2>
      <h2 class="colorMetallicGold" data-ng-if="tx.isAdminTransaction"><strong>Administrative</strong> Transaction</h2>
      <hr />
    </div>

    <div class="detail-summary m12t">
      
      <div class="summary">
        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Transaction: <span class="float-right"><a href="tx/{{tx.txid}}" class="colorMetallicGold">{{tx.txid}}</a></span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row" ng-show="tx.isAdminTransaction">
          Transaction Type: <span class="float-right">{{adminInfo[tx.adminInfo.type].displayName}}</span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Confirmations: <span class="float-right">{{tx.confirmations || 0}}</span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row" data-ng-show="tx.vin[0].coinbase">
          Signed By:
          <span class="float-right">Coinbase Transaction</span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row" data-ng-hide="tx.vin[0].coinbase">
          Signed By Key 1:
          <span class="float-right">{{tx.signer.key1.name || tx.signer.key1.pubkey}}</span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row" data-ng-hide="tx.vin[0].coinbase">
          Signed By Key 2:
          <span class="float-right">{{tx.signer.key2.name || tx.signer.key2.pubkey}}</span>
        </div>
        
        <div class="col-xs-12 float-left subtitle-2 summary-row">
          Validated Block:
          <span class="float-right"><a href="block/{{tx.blockhash}}" class="colorMetallicGold">{{tx.blockhash}}</a></span>
        </div>
        
        <div class="col-xs-12 float-left subtitle-2 summary-row" data-ng-show="tx.fees">
          Blockchain Fees: 
          <span class="float-right">{{$root.currency.getConvertion(tx.fees) + ' RMG'}}</span>
        </div>

        <div class="col-xs-12 float-left subtitle-2 summary-row">
          First seen:
          <span class="float-right" data-ng-show="tx.time">{{tx.time * 1000|date:'medium'}}</span>
          <span class="float-right" data-ng-show="!tx.time">N/A</span>
        </div>

      </div>
    </div>

    <div class="detail-list row">
      <h2 class="colorMetallicGold" translate>Details</h2>
      <div ng-hide="tx.isAdminTransaction" data-ng-include src="'views/transaction/txDetail.html'"></div>

      <div ng-show="tx.isAdminTransaction && isFundsOperation()" data-ng-include src="'views/transaction/issuance/txDetail.html'"></div>
      <div ng-show="tx.isAdminTransaction && !isFundsOperation()" data-ng-include src="'views/transaction/addOrRemoveKeys/txDetail.html'"></div>
    </div>
    
  </div>
</section>
