/* colors.scss
Commonly used colors throughout the app
*/
$Sunglow: rgba(255, 204, 51, 1);
$Sunglow75: rgba(255, 204, 51, 0.75);
$Sunglow50: rgba(255, 204, 51, 0.50);
$Sunglow25: rgba(255, 204, 51, 0.25);
$Sunglow10: rgba(255, 204, 51, 0.1);
$SunglowSolid75: #ffd866;
$SunglowSolid50: #ffe599;
$SunglowSolid25: #fff2cc;
$SunglowSolid10: #fff9eb;

$OldGold: rgba(207, 181, 59, 1);
$OldGold75: rgba(207, 181, 59, 0.75);
$OldGold50: rgba(207, 181, 59, 0.50);
$OldGold25: rgba(207, 181, 59, 0.25);
$OldGold10: rgba(207, 181, 59, 0.1);
$OldGoldSolid75: #dac66c;
$OldGoldSolid50: #e6d99d;
$OldGoldSolid25: #f2ecce;
$OldGoldSolid10: #faf7eb;

$MetallicGold: rgba(212, 175, 55, 1);
$MetallicGold75: rgba(212, 175, 55, 0.75);
$MetallicGold50: rgba(212, 175, 55, 0.50);
$MetallicGold25: rgba(212, 175, 55, 0.25);
$MetallicGold10: rgba(212, 175, 55, 0.1);
$MetallicGoldSolid75: #dec269;
$MetallicGoldSolid50: #e9d69b;
$MetallicGoldSolid25: #f4eacd;
$MetallicGoldSolid10: #faf7eb;

$AgedGold: rgba(206, 161, 53, 1);
$AgedGold75: rgba(206, 161, 53, 0.75);
$AgedGold50: rgba(206, 161, 53, 0.50);
$AgedGold25: rgba(206, 161, 53, 0.25);
$AgedGold10: rgba(206, 161, 53, 0.1);
$AgedGoldSolid75: #d7b767;
$AgedGoldSolid50: #e4cf9a;
$AgedGoldSolid25: #f1e7cd;
$AgedGoldSolid10: #f9f5eb;

$Nero: rgba(27, 27, 27, 1);
$Nero75: rgba(27, 27, 27, 0.75);
$Nero50: rgba(27, 27, 27, 0.50);
$Nero25: rgba(27, 27, 27, 0.25);
$Nero10: rgba(27, 27, 27, 0.1);
$Nero05: rgba(27, 27, 27, 0.05);
$NeroSolid75: #545454;
$NeroSolid50: #8d8d8d;
$NeroSolid25: #c6c6c6;
$NeroSolid10: #e8e8e8;

$RoyalPurple: #9b834f;
$LogoGoldLighter: #d2ad34;

$White: #fff;
$Green: #88ad5d;
$Red: #d8828c;
$Blue: #4a90e2;

$blue-dark: #0684AC;
$blue-very-dark: #142834;

.colorGreen {
  color: $Green;
}

.colorRed {
  color: $Red;
}

.colorMetallicGold {
  color: $RoyalPurple;
}

.colorWhite {
  color: $White;
}

.colorNero50 {
  color: $Nero50;
}

.colorNero75 {
  color: $Nero75;}

/* PRIMARY COLORS */

$RoyalPurple: rgba(93, 40, 95, 1);
$RoyalPurple75: rgba(93, 40, 95, 0.75);
$RoyalPurple50: rgba(93, 40, 95, 0.50);
$RoyalPurple25: rgba(93, 40, 95, 0.25);

$Gold: rgba(155, 131, 79, 1);
$Gold75: rgba(155, 131, 79, 0.75);
$Gold50: rgba(155, 131, 79, 0.50);
$Gold25: rgba(155, 131, 79, 0.25);


$White: rgba(255, 255, 255, 1);
$White50: rgba(255, 255, 255, 0.5);

/* SECONDARY COLORS */

$Pearl: rgba(237, 233, 227, 1);
$Pearl50: rgba(237, 233, 227, 0.5);

$Sand: rgba(183, 169, 154, 1);
$Sand75: rgba(183, 169, 154, 0.75);
$Sand50: rgba(183, 169, 154, 0.50);

/* OTHER COLORS */

$Emerald: rgba(0, 150, 129, 1);
$Emerald75: rgba(0, 150, 129, .75);
$Emerald50: rgba(0, 150, 129, .5);
$Emerald25: rgba(0, 150, 129, .25);

$WarmRed: rgba(238, 39, 55, 1);
$WarmRed75: rgba(238, 39, 55, 0.75);
$WarmRed50: rgba(238, 39, 55, 0.50);
$WarmRed25: rgba(238, 39, 55, 0.25);

$Yellow: rgba(255, 193, 0, 1);
$Yellow75: rgba(255, 193, 0, 0.75);
$Yellow50: rgba(255, 193, 0, 0.50);
$Yellow25: rgba(255, 193, 0, 0.25);

$Blue: rgba(0, 133, 173, 1);
$Blue75: rgba(0, 133, 173, 0.75);
$Blue50: rgba(0, 133, 173, 0.50);
$Blue25: rgba(0, 133, 173, 0.25);

$Black: rgba(12, 12, 12, 1);
$Black75: rgba(12, 12, 12, 0.75);
$Black50: rgba(12, 12, 12, 0.5);
$Black25: rgba(12, 12, 12, 0.25);



