/* colors.scss
Commonly used colors throughout the app
*/
$Sunglow: #FFCC33;
$Sunglow75: #ffd866;
$Sunglow50: #ffe599;
$Sunglow25: #fff2cc;
$Sunglow10: #fff9eb;

$OldGold: #CFB53B;
$OldGold75: #dac66c;
$OldGold50: #e6d99d;
$OldGold25: #f2ecce;
$OldGold10: #faf7eb;

$MetallicGold: #D4AF37;
$MetallicGold75: #dec269;
$MetallicGold50: #e9d69b;
$MetallicGold25: #f4eacd;
$MetallicGold10: #faf7eb;

$AgedGold: #CBA135;
$AgedGold75: #d7b767;
$AgedGold50: #e4cf9a;
$AgedGold25: #f1e7cd;
$AgedGold10: #f9f5eb;

$Nero: #1B1B1B;
$Nero75: #545454;
$Nero50: #8d8d8d;
$Nero25: #c6c6c6;
$Nero10: #e8e8e8;

$White: #fff;

