/* colors.scss
Commonly used colors throughout the app
*/
$Sunglow: rgba(255, 204, 51, 1);
$Sunglow75: rgba(255, 204, 51, 0.75);
$Sunglow50: rgba(255, 204, 51, 0.50);
$Sunglow25: rgba(255, 204, 51, 0.25);
$Sunglow10: rgba(255, 204, 51, 0.1);
$SunglowSolid75: #ffd866;
$SunglowSolid50: #ffe599;
$SunglowSolid25: #fff2cc;
$SunglowSolid10: #fff9eb;

$OldGold: rgba(207, 181, 59, 1);
$OldGold75: rgba(207, 181, 59, 0.75);
$OldGold50: rgba(207, 181, 59, 0.50);
$OldGold25: rgba(207, 181, 59, 0.25);
$OldGold10: rgba(207, 181, 59, 0.1);
$OldGoldSolid75: #dac66c;
$OldGoldSolid50: #e6d99d;
$OldGoldSolid25: #f2ecce;
$OldGoldSolid10: #faf7eb;

$MetallicGold: rgba(212, 175, 55, 1);
$MetallicGold75: rgba(212, 175, 55, 0.75);
$MetallicGold50: rgba(212, 175, 55, 0.50);
$MetallicGold25: rgba(212, 175, 55, 0.25);
$MetallicGold10: rgba(212, 175, 55, 0.1);
$MetallicGoldSolid75: #dec269;
$MetallicGoldSolid50: #e9d69b;
$MetallicGoldSolid25: #f4eacd;
$MetallicGoldSolid10: #faf7eb;

$AgedGold: rgba(206, 161, 53, 1);
$AgedGold75: rgba(206, 161, 53, 0.75);
$AgedGold50: rgba(206, 161, 53, 0.50);
$AgedGold25: rgba(206, 161, 53, 0.25);
$AgedGold10: rgba(206, 161, 53, 0.1);
$AgedGoldSolid75: #d7b767;
$AgedGoldSolid50: #e4cf9a;
$AgedGoldSolid25: #f1e7cd;
$AgedGoldSolid10: #f9f5eb;

$Nero: rgba(27, 27, 27, 1);
$Nero75: rgba(27, 27, 27, 0.75);
$Nero50: rgba(27, 27, 27, 0.50);
$Nero25: rgba(27, 27, 27, 0.25);
$Nero10: rgba(27, 27, 27, 0.1);
$Nero05: rgba(27, 27, 27, 0.05);
$NeroSolid75: #545454;
$NeroSolid50: #8d8d8d;
$NeroSolid25: #c6c6c6;
$NeroSolid10: #e8e8e8;

$LogoGold: #9b834f;
$LogoGoldLighter: #d2ad34;

$White: #fff;
$Green: #88ad5d;
$Red: #d8828c;
$Blue: #4a90e2;

$blue-dark: #0684AC;
$blue-very-dark: #142834;

.colorGreen {
  color: $Green;
}

.colorRed {
  color: $Red;
}

.colorMetallicGold {
  color: $MetallicGold;
}

.colorWhite {
  color: $White;
}

.colorNero50 {
  color: $Nero50;
}

.colorNero75 {
  color: $Nero75;
}