@font-face {
  font-family: 'Trade-Gothic';
  src: url('../../../fonts/TradeGothicLTStd-Bold.eot');
  src: url('../../../fonts/TradeGothicLTStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/TradeGothicLTStd-Bold.woff') format('woff'),
  url('../../../fonts/TradeGothicLTStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Corpid-Light';
  src: url('../../../fonts/Corpid-Light.eot');
  src: url('../../../fonts/Corpid-Light.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Corpid-Light.woff') format('woff'),
  url('../../../fonts/Corpid-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Corpid';
  src: url('../../../fonts/Corpid.eot');
  src: url('../../../fonts/Corpid.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Corpid.woff') format('woff'),
  url('../../../fonts/Corpid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
