/* rules.scss
  Handy css rule definitions
*/
.float-right { float: right; }
.float-left { float: left; }
.pointer { cursor: pointer; }
.d-inline-block { display: inline-block; }
.no-padding { padding: 0px; }
.no-margin { margin: 0px; }
.m10h { margin: 0 10px; }
.m20h { margin: 0 20px; }
.m5v { margin: 5px 0; }
.m20v { margin: 20px 0; }
.m10v { margin: 10px 0; }
.m50v { margin: 50px 0; }
.m10b { margin-bottom: 10px; }
.m10l { margin-left: 10px; }
.m12t { margin-top: 12px; }
.m20t { margin-top: 20px; }
.m12t { margin-top: 12px; }
.m18t { margin-top: 18px; }
.m24t { margin-top: 24px; }
.m48t { margin-top: 48px; }
.m64t { margin-top: 64px; }
.vm { vertical-align: middle; }
.pa {position: absolute;}
.pr {position: relative;}