$baseFont: 'Helvetica Neue';

html,
body {
  font-family: $baseFont, sans-serif;
  font-size: 12px;
}

/* Header 1 */
h1, .h1 {
  font-family: $baseFont, sans-serif;
  font-size: 32px;
}
/* Header 2 */
h2, .h2 {
  font-family: $baseFont, sans-serif;
  font-size: 24px;
}
/* Header 3 */
h3,  .h3 {
  font-family: $baseFont, sans-serif;
  font-size: 20px;
}
/* Subtitle 1 */
h4, .h4, .subtitle-1 {
  font-family: $baseFont, sans-serif;
  font-size: 16px;
}
/* Subtitle 2 */
h5, .h5, .subtitle-2 {
  font-family: $baseFont, sans-serif;
  font-size: 16px;
}
/* Subtitle 3 */
h6, .h6, .subtitle-3 {
  font-family: $baseFont, sans-serif;
  font-size: 16px;
}



