<footer id="footer" role="navigation">
  <div class="footer-container max-width1000 container" data-ng-controller="FooterController">

    <div class="subtitle-2 links pull-left footer-links">
      <a href="//github.com/BitGo" target="_blank">Github</a>
    </div>

    <div class="subtitle-2 links pull-left footer-links">
      <a href="validators">Validators</a>
    </div>

     <div class="links pull-right m13t float-right">
      <a class="insight" href=".">
        <img src="img/poweredby.png" alt="Powered by The Royal Mint and BitGo"/>
      </a>
    </div>

  </div>
</footer>