<header class="navbar navbar-default" role='navigation'>
  <div data-ng-controller="HeaderController">
    <div class="tesnet-banner" ng-if="isTestnet()">
      <h6 class="p10t"> This is a testnet environment for testing and development purposes - all RMG values are testnet </h6>
    </div>
    <div class="container max-width1000">


    <div class="navbar-header max-width1000">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="insight navbar-brand" href=".">
        <img src="img/RMG_Logo.png" alt="Royal Mint Gold"/>
      </a>
    </div>
    <div class="navbar-collapse collapse" collapse="$root.isCollapsed">
      <ul class="nav navbar-nav">

        <li ui-route="about" class="navbar-right-separator" data-ng-class="{ 'active': isActive('about') }">
          <a class="subtitle-2" href="about">About</a>
        </li>

        <li ui-route="tools" class="navbar-right-separator" data-ng-class="{ 'active': isActive('tools') }">
          <a class="subtitle-2" href="tools">Tools</a>
        </li>

        <li>
          <a data-ng-click="openScannerModal()" class="subtitle-2"><span class="glyphicon glyphicon-qrcode"></span> Scan</a>
        </li>
      </ul>

      <span class="hidden-xs navbar-form navbar-right float-right">
        <include-search></include-search>
      </span>

      <!-- Just initialize the controller -->
      <span data-ng-controller="CurrencyController"></span>
    </div>
  </div>
  </div>
</header>
