<header class="container">
  <div data-ng-controller="HeaderController">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="insight navbar-brand" href=".">
        <img src="img/AZTEC_logo.png" alt="Aztek Logo"/>
      </a>
    </div>
    <div class="navbar-collapse collapse" collapse="$root.isCollapsed">
      <ul class="nav navbar-nav">
        <li data-ng-repeat="item in menu" ui-route="{{item.link}}" data-ng-class="{active: $uiRoute}">
          <a class="subtitle-1" href="{{item.link}}">{{item.title|translate}}</a>
        </li>
        <li>
          <a data-ng-click="openScannerModal()" class="subtitle-1"><span class="glyphicon glyphicon-qrcode"></span> Scan</a>
        </li>
        <li class="dropdown" data-ng-controller="NetworkController" data-ng-include="'views/includes/network.html'"></li>
      </ul>

      <span class="hidden-xs navbar-form navbar-right" data-ng-include src="'views/includes/search.html'"></span>
      <!-- Just initialize the controller -->
      <span data-ng-controller="CurrencyController"></span>
    </div>
  </div>
</header>
