<form id="search-form" data-ng-controller="SearchController" role="search" data-ng-submit="search()">
  <div class="form-group" data-ng-class="{'has-error': badQuery}">
    <input id="search" type="text" class="form-control" data-ng-model="q" data-ng-class="{'loading': loading}" placeholder="{{'Search for block, address  and transactions'|translate}}" data-ng-submit="search()" focus="true">
    <button type="submit" class="btn btn-info search-btn">
      <span  class="glyphicon glyphicon-search"></span>
    </span>
    </button>
    </div>
  <div class="no_matching text-danger" data-ng-show="badQuery" translate>No matching records found!</div>
</form>
