<table class="table table-hover table-striped" style="table-layout: fixed">
  <tbody class="subtitle-1">
    <tr data-ng-show="!txs[0].txid && !loading"><td colspan="2" class="waiting">There are no transactions involving this address..</td></tr>
    <tr class="fader pointer" data-ng-repeat="tx in txs" data-ng-click="goTo('tx/' + tx.txid)">
      <td>
        <a href="tx/{{tx.txid}}">{{tx.txid}}</a>
      </td>
      <td class="text-right"><span class="ellipsis">{{ tx.valueOut | coinFormatFilter:true }}</span></td>
    </tr>
    <tr data-ng-show="loading"><td colspan="2" class="waiting">Loading transactions...<i class="fa fa-refresh fa-spin td-loading-icon" aria-hidden="true"></i></td></tr>
  </tbody>
</table>
