header {
  max-width: 1200px;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.navbar {
  min-height: 64px;
  border-radius: 0px;
}
.navbar-default .navbar-toggle { 
  border-color: #fff;
  margin-top: 15px;
}

.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #373D42;}

.navbar-default {
  background-color: $MetallicGold;
  margin: 0;
  border: 0;
}

.navbar-right-separator {
  border-right: 1px solid $White;
}

.navbar-default .navbar-nav>li {

  >a { padding-left: 20px;
    padding-right: 20px;
    color: $White;
  }

  /* Selected element */
  &.active>a, &.active>a:focus {
    background-color: $White;
    color: $MetallicGold;
  }

  &:hover {
    background-color: $White;
    color: $MetallicGold;
  }

  //&:nth-child(2n):hover {
  //  border-left:  1px solid $MetallicGold;
  //  border-right: 1px solid $MetallicGold;
  //}
}

/* Nav bar hoover */
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #fff;
  color: $MetallicGold;

  .caret {
    color: $MetallicGold;
  }
}

.navbar-form .form-group {
  display: block;
}

.navbar-form {
  margin-top: 15px;
}

.nav-tabs.nav-justified>li>a:hover {
  cursor: pointer;
}

.insight {
  img {
    width: 80px;
  }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fffffe;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
  padding: 15px 15px;
}

.navbar-form .form-control {
  background-color: $White;
  color: $MetallicGold;
  border: 0;
  @include border-radius(4px);
}

.navbar-nav>li>a {
  padding-top: 22px;
  padding-bottom: 22px;
}
/* Net selector */

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
  color: $White !important;
  background-color: $MetallicGold;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $White;
  background-color: $MetallicGold;
  .caret {
    color: $White;
  }
}

.netkwork-menu {
 padding-top: 0;
  min-width: 157px !important;
}
.menu-caret {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  top: -5px;
  margin-left: 80%;
  vertical-align: middle;
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: white;
}

.navbar-default .dropdown-menu {
  min-width: 144px;
  border-right: 1px solid $MetallicGold;
  border-left: 1px solid $MetallicGold;
  border-bottom: 1px solid $MetallicGold;
  border-top: 1px solid $White;
  background-color: $White;
  color: $MetallicGold;
  left: -1px;
  box-shadow: 3px 3px 3px $MetallicGoldSolid25;
  li {
    height: 64px;
    a {
      color: $MetallicGold;
      padding: 23px 20px;
      &:hover, &:focus {
        background-color: $MetallicGoldSolid25;
      }
    }
  }
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: $MetallicGold;
}
/* Network selector opened/focussed*/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  border: none;
  border-right: 1px solid $White;
}

#search-form { 
  color: $MetallicGold;
  margin-right: 49px;

  #search {
    color: $MetallicGold;
    font-size: 16px;
    @include border-radius(4px 0px 0px 4px);
    &::-webkit-input-placeholder {
      color: $NeroSolid25;
      font-size: 16px;
    }
    &::-moz-placeholder {
      color: $MetallicGold;
      font-size: 16px;
    }
  }
  
  .form-control{
    @include box-shadow(none);
  }

  .search-btn {
    height: 34px;
    width: 34px;
    border: 1px solid $White;
    margin-left: -5px;
    background-color: $MetallicGold;
    @include border-radius(0px 4px 4px 0px);

    &:hover {
      background-color: $OldGold;
    }
    i {
      margin: -5px;
    }
  }
}

.no_matching {
  margin-left: -1px;
  position: absolute;
  text-align: left;
  border-left: 1px solid $MetallicGold !important;
  border-right: 1px solid $MetallicGold !important;
  border-bottom: 1px solid $MetallicGold !important;
  color: #a94442 !important;
  top: 51px;
}

.selected-network {
  min-width: 155px;
}

