
#homeInfo {
  background-color: $Pearl;
  min-height: 240px;
  line-height: 36px;
  margin-bottom: 40px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
}

#home {
  margin: 0px 17px;
  &.btn-more {
    border-top: 1px solid #ddd;
    margin: 30px auto 0;
    text-align: center;
    width: 90%;
  }
  &.btn-more .btn-default {
    margin-top: -23px;
  }
}

.rmg-info {
  display: flex;
  hr {
    max-width: 360px;
    margin-top: 16px;
  }
  .price {
    position: relative;
    >h1 {
      display: inline-block;
      padding-left: 16px;
    }
    .dollar {
      font-size: 18px;
      position: absolute;
      display: inline-block;
      margin-top: 21px;
    }
    .green {
      color: green;
    }
  }
}

.nv-y, .nv-x {
   display: none;
}

/* Set the fixed height of the footer here */
#footer {
  background-color: $RoyalPurple;
  color: #fff;
  height: 51px;
  overflow: hidden;
  .footer-links {
    height: 100%;
    padding-top: 17px;
    margin-left: 34px;
    a {
      margin-right: 18px;
    }

  }
  .footer-container {
    height: 100%;

    .insight {
      img {
        width: 90px;
      }
    }
  }
  .separator {
    border-right: 1px solid $White;
  }
}

#footer a.insight {
  font-size: 20px;
  text-decoration: none;
  color: #fff;

}

#footer a.insight:hover {
  color: #fffffe;
}

#footer a.insight small { font-size: 11px; }
.line-footer { border-top: 2px dashed #ccc; }

#footer .links a {

  color: $White;
  font-size: 16px;
  span {
    color: $White;
  }
}

#footer .links a.selected {
  color: #eee;

}

#footer .links a:hover {
  text-decoration: none;
  >span {
    color: $White50;
  }
}

.tesnet-banner {
  background-color: $Yellow;
  color: $White;
  font-size: 16px;
  font-family: Corpid;
  text-align: center;
  line-height: 32px;
  height: 32px;
  width: 100%;
  margin-top: -10px;
}
